@{
    ViewData["Title"] = "Edit";
}

@model JobSeekerReturnDto

@{
    string imagePath = (string)TempData["ImagePath"];
}


<div class="content-body" style="min-height: 876px;" bis_skin_checked="1">

    <div class="row mb-2">
        <div class="col-sm-12" style="padding: 20px; display: flex; justify-content: center; align-items: center;">
            <h1>İş axtarana göz gəzdir</h1>
        </div>
    </div>

    <!-- row -->
    <div class="container-fluid" bis_skin_checked="1">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nümayiş</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form method="post" enctype="multipart/form-data">

                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Ad : </label>
                                    <label asp-for="Name" class="form-label">@Model.Name</label>
                                </div>

                                <div class="mb-3 image-box">
                                    <label asp-for="Surname" class="form-label">Soyad : </label>
                                    <label asp-for="Surname" class="form-label">@Model.Surname</label>
                                </div>

                                <div class="mb-3 image-box">
                                    <label asp-for="Message" class="form-label">Message : </label>
                                    <label asp-for="Message" class="form-label">@Model.Message</label>
                                </div>

                                <div class="mb-3 image-box">
                                    <label asp-for="CreatedAt" class="form-label">Göndərilmə Zamanı : </label>
                                    <label asp-for="Message" class="form-label">@Model.CreatedAt.ToString("dd MMMM yyyy HH:MM")</label>
                                </div>

                                <div class="mb-3 image-box">
                                    <label asp-for="CV" class="form-label">
                                        <a href="@(imagePath+Model.CV)" download class="btn btn-outline-dark my-3">CV-ni yüklə</a>
                                    </label>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/manage/main.js"></script>
}
