@model DeliveryReturnDto


<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="form-head d-flex mb-3 mb-md-5 align-items-start flex-wrap">
            <div class="me-auto">
                <h3 class="text-black font-w600 mb-0 fs-22 mb-2">Çatdırılma ID #@Model.DeliveryCode</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-xxl-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body rounded" style="background:#3f4953;">
                                <div class="row mx-0 align-items-center">
                                    <div class="media align-items-center col-md-12 col-xl-6 col-lg-4 px-0 mb-3 mb-md-0">
                                        <img class="me-3 img-fluid rounded-circle" width="100" src="images/profile/5.png" alt="DexignZone">
                                        <div class="media-body">
                                            <p class="text-white mb-1 wspace-no"></p>
                                            <h3 class="mb-1 text-white  fs-22">@Model.Name @Model.SurName</h3>
                                            <small class="text-gray wspace-no">ID #@Model.DeliveryCode</small>
                                        </div>
                                    </div>
                                    <div class="text-start text-lg-right col-xl-6 col-lg-8 p-0 mt-lg-0 mt-3">
                                        <div class="iconbox">
                                            <i class="las la-phone"></i>
                                            <small>Telefon</small>
                                            <p> @Model.Telephone</p>
                                        </div>
                                        <div class="iconbox">
                                            <i class="las la-shipping-fast"></i>
                                            <small>Çatdırılmanın yarandığı zaman</small>
                                            <p> @Model.CreatedAt.ToString("dd MMMM yyyy HH:MM")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive order-list">
                                    <table class="table items-table">
                                        <tbody>
                                            <tr>
                                                <th class="my-0 text-black font-w500 fs-20">Items</th>
                                                <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Qty</th>
                                                <th style="width:10%;" class="my-0 text-black font-w500 fs-20">Price</th>
                                                <th class="my-0 text-black font-w500 fs-20 wspace-no d-md-none d-lg-table-cell">Total Price</th>
                                                <th></th>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <a href="ecom-product-detail.html"><img class="me-3 img-fluid rounded" width="85" src="images/card/pic5.jpg" alt="DexignZone"></a>
                                                        <div class="media-body">
                                                            <small class="mt-0 mb-1 font-w500"><a class="text-primary" href="javascript:void(0);">MAIN COURSE</a></small>
                                                            <h5 class="mt-0 mb-2 mb-4"><a class="text-black" href="ecom-product-detail.html">Watermelon juice with ice</a></h5>
                                                            <div class="star-review fs-14">
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-gray"></i>
                                                                <i class="fas fa-star text-gray"></i>
                                                                <span class="ms-3 text-dark">(454 revies)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-secondary font-w600">1x</h4>
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-secondary font-w600">$4.12</h4>
                                                </td>
                                                <td class="d-md-none d-lg-table-cell">
                                                    <h4 class="my-0 text-secondary font-w600">$4.12</h4>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" class="ti-close fs-28 text-danger las la-times-circle"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <a href="ecom-product-detail.html"><img class="me-3 img-fluid rounded" width="85" src="images/card/pic6.jpg" alt="DexignZone"></a>
                                                        <div class="media-body">
                                                            <small class="mt-0 mb-1 font-w500"><a class="text-primary" href="javascript:void(0);">MAIN COURSE</a></small>
                                                            <h5 class="mt-0 mb-2 text-black mb-4"><a class="text-black" href="ecom-product-detail.html">Chicken curry special with cucumber</a></h5>
                                                            <div class="star-review fs-14">
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-gray"></i>
                                                                <i class="fas fa-star text-gray"></i>
                                                                <span class="ms-3 text-dark">(454 revies)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-secondary font-w600">3x</h4>
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-secondary font-w600">$14.99</h4>
                                                </td>
                                                <td class="d-md-none d-lg-table-cell">
                                                    <h4 class="my-0 text-secondary font-w600">$44.97</h4>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" class="ti-close fs-28 text-danger las la-times-circle"></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="media">
                                                        <a href="ecom-product-detail.html"><img class="me-3 img-fluid rounded" width="85" src="images/card/pic7.jpg" alt="DexignZone"></a>
                                                        <div class="media-body">
                                                            <small class="mt-0 mb-1 font-w500"><a class="text-primary" href="javascript:void(0);">MAIN COURSE</a></small>
                                                            <h5 class="mt-0 mb-2 text-black mb-4"><a class="text-black" href="ecom-product-detail.html">Italiano pizza with garlic</a></h5>
                                                            <div class="star-review fs-14">
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-orange"></i>
                                                                <i class="fas fa-star text-gray"></i>
                                                                <i class="fas fa-star text-gray"></i>
                                                                <span class="ms-3 text-dark">(454 revies)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-secondary font-w600">1x</h4>
                                                </td>
                                                <td>
                                                    <h4 class="my-0 text-secondary font-w600">$15.44</h4>
                                                </td>
                                                <td class="d-md-none d-lg-table-cell">
                                                    <h4 class="my-0 text-secondary font-w600">$15.44</h4>
                                                </td>
                                                <td>
                                                    <a href="javascript:void(0);" class="ti-close fs-28 text-danger las la-times-circle"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-xxl-12">
                <div class="row">
                    @if (Model.Courier != null && Model.Courier.CourierPerson != null)
                    {
                        <div class="col-xl-12 col-md-6 col-xxl-6">
                            <div class="card">
                                <div class="card-body border-bottom">
                                    <div class="media align-items-center">
                                        <img class="me-3 rounded-circle" src="@Model.Courier.CourierPerson.Image" width="90" alt="">
                                        <div class="media-body">
                                            <h4 class="text-black mb-3">@Model.Courier.CourierPerson.Name @Model.Courier.CourierPerson.Surname</h4>
                                            <span class="bgl-info fs-14 text-info p-2 rounded">Kuryer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-bottom">
                                    <div class="media align-items-center">
                                        <svg class="me-4" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.9993 17.4712V20.7831C23.0006 21.0906 22.9375 21.3949 22.814 21.6766C22.6906 21.9583 22.5096 22.2112 22.2826 22.419C22.0556 22.6269 21.7876 22.7851 21.4958 22.8836C21.2039 22.9821 20.8947 23.0187 20.5879 22.991C17.1841 22.6219 13.9145 21.4611 11.0418 19.6019C8.36914 17.9069 6.10319 15.6455 4.40487 12.9781C2.53545 10.0981 1.37207 6.81909 1.00898 3.40674C0.981336 3.10146 1.01769 2.79378 1.11572 2.50329C1.21376 2.2128 1.37132 1.94586 1.57839 1.71947C1.78546 1.49308 2.03749 1.31221 2.31843 1.18836C2.59938 1.06451 2.90309 1.0004 3.21023 1.00011H6.52869C7.06551 0.994834 7.58594 1.18456 7.99297 1.53391C8.4 1.88326 8.66586 2.36841 8.74099 2.89892C8.88106 3.9588 9.14081 4.99946 9.5153 6.00106C9.66413 6.39619 9.69634 6.82562 9.60812 7.23847C9.51989 7.65131 9.31494 8.03026 9.01753 8.33042L7.61272 9.73245C9.18739 12.4963 11.4803 14.7847 14.2496 16.3562L15.6545 14.9542C15.9552 14.6574 16.3349 14.4528 16.7486 14.3648C17.1622 14.2767 17.5925 14.3089 17.9884 14.4574C18.992 14.8312 20.0348 15.0904 21.0967 15.2302C21.6341 15.3058 22.1248 15.576 22.4756 15.9892C22.8264 16.4024 23.0128 16.9298 22.9993 17.4712Z" stroke="#566069" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <h4 class="mb-0 text-black">@Model.Courier.CourierPerson.PhoneNumber</h4>
                                    </div>
                                </div>
                                <div class="card-body border-bottom">
                                    <div class="media align-items-center">
                                        <svg class="me-4" width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" style="min-width: 24px;">
                                            <path d="M28 13.3333C28 22.6667 16 30.6667 16 30.6667C16 30.6667 4 22.6667 4 13.3333C4 10.1507 5.26428 7.09848 7.51472 4.84805C9.76516 2.59761 12.8174 1.33333 16 1.33333C19.1826 1.33333 22.2348 2.59761 24.4853 4.84805C26.7357 7.09848 28 10.1507 28 13.3333Z" stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M16 17.3333C18.2091 17.3333 20 15.5425 20 13.3333C20 11.1242 18.2091 9.33333 16 9.33333C13.7909 9.33333 12 11.1242 12 13.3333C12 15.5425 13.7909 17.3333 16 17.3333Z" stroke="#3E4954" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        <h4 class="mb-0 text-black">@Model.Courier.CourierPerson.Address</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="text-black font-weight-bold mb-3 wspace-no">Email</h4>
                                    <p>@Model.Courier.CourierPerson.Email</p>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
