@model PagenatedList<PartnerReturnDto>

@{
    int count = (Model.PageIndex - 1) * ViewBag.PageSize + 1;
    List<string> listOfURLs = ViewBag.ListOfURLs;
    string? isDeleted = (string)ViewBag.IsDeleted;
    string imagePath = (string)TempData["ImagePath"];
}


<div class="content-body">

    <div class="container-fluid">
       
          <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4 style="padding-left:10px;">Yeni Partnuyor Yarat</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <a asp-action="create" style="font-size:20px;padding:0px 10px;">
                    <i class="lni lni-circle-plus"></i>
                </a>
            </div>
        </div>

        <div class="form-head d-flex mb-4 align-items-start">

            <form asp-action="index" method="get" style="width:100%;">
                <div class="input-group search-area d-inline-flex" style="width:100%;height:50px;">
                    <input type="search" name="searchWord" value="@(ViewBag.Word)" class="form-control" placeholder="Axtarış et" style="height:100%;">
                </div>
                <div class="form-group" style="width:100%;margin:20px 0px;">
                    <select class="form-control bg-gray-light" name="isDeleted">
                        @if (isDeleted == "null")
                        {
                            <option value="null" class="bg-gray-light" selected>Hamısı</option>
                        }
                        else
                        {
                            <option value="null" class="bg-gray-light">Hamısı</option>
                        } @if (isDeleted == "false")
                        {
                            <option value="false" class="bg-gray-light" selected>Silinməmişlər</option>
                        }
                        else
                        {
                            <option value="false" class="bg-gray-light">Silinməmişlər</option>
                        } @if (isDeleted == "true")
                        {
                            <option value="true" class="bg-gray-light" selected>Silinmişlər</option>
                        }
                        else
                        {
                            <option value="true" class="bg-gray-light">Silinmişlər</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-dark my-3">Axtarış et</button>

            </form>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="table-responsive">
                    <table id="example5" class="display mb-4 dataTablesCard" style="width:100%;">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Ad</th>
                                <th scope="col">Şəkil</th>
                                <th scope="col">YZaman</th>
                                <th>
                                    Aksiyonlar :
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (PartnerReturnDto item in Model)
                            {
                                <tr>
                                    <th scope="row" style=" vertical-align: middle;">@(count++)</th>
                                    <td>@item.Name</td>
                                    <td>
                                        <div class="image-box">
                                            <img src="@(imagePath+item.Image)" style="width:200px;height:200px;object-fit:contain;" />
                                        </div>
                                    </td>
                                    <td>@item.UpdatedAt.ToString("dd:mm:yyyy")</td>
                                    <td>
                                        <div class="d-flex">
                                            <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                            <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger shadow btn-xs sharp btn-delete-sweet"><i class="fas fa-trash"></i></a>
                                            <a asp-action="index" asp-controller="partnerProduct" asp-route-partnerId="@item.Id" class="btn btn-primary shadow btn-xs sharp"><i class="lni lni-menu"></i></a>
                                        </div>
                                    </td>
                                
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation example" class="d-flex justify-content-center align-items-center">
                    <ul class="pagination">
                        @if (Model.HasPrev)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex - 1)" asp-route-select="@ViewBag.select" asp-route-word="@TempData["Word"]" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            if (Model.PageIndex - 1 == i)
                            {
                                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i" asp-route-select="@ViewBag.select" asp-route-word="@TempData["Word"]">@i</a></li>
                            }

                            if (Model.PageIndex == i)
                            {
                                <li class="page-item active"><a class="page-link" style=" z-index: 3; color: #fff; background-color: black !important; border-color: black !important;" asp-action="index" asp-route-page="@i" asp-route-select="@ViewBag.select" asp-route-word="@TempData["Word"]">@i</a></li>
                            }
                            if (Model.PageIndex + 1 == i)
                            {
                                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@i" asp-route-select="@ViewBag.select" asp-route-word="@TempData["Word"]">@i</a></li>
                            }
                        }
                        @if (Model.HasNext)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-action="index" asp-route-page="@(Model.PageIndex + 1)" asp-route-select="@ViewBag.select" asp-route-word="@TempData["Word"]" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>

    <script src="~/manage/sweetalert.js"></script>

}